/*parte abaixo é dedicada à estilização do principal*/

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    outline: none;
}

body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 70px 1fr 70px;
}

nav{
    grid-row: 1/2;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    padding: 14px 168px 14px 141px;
    display: flex;
    justify-content: space-between;
}

.links{
    padding-top: 11.5px;
    width:223px;
    display: flex;
    justify-content: space-between;
}

 a{
    text-decoration: none;
    color: #545454;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}

.conteudo{
    grid-row: 2/3;
    padding: 126px 140px 134px;
    background: #E5E5E5;
    display:flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width:732px;
}

.post{
    margin-bottom: 40px;
    height: min-content;
    width: max-content;
}

main h2{
    font-weight: bold;
    font-size: 24px;
    color:#000000;
    margin-top: 24px;
    margin-left: 24px;
}

.data{
    font-weight: normal;
    font-size: 12px;
    color: #929292;
    margin: 8px 24px 14px;
}

 img{
    width:100%;
}

.post-content{
    width: 680px;
     margin:24px auto;   
    font-size: 14px;
    line-height: 19px;
    color: #545454;
}

.post > a{
    background: #FFFFFF;
    border: 1px solid #FE0078;
    border-radius: 20px;
    margin:0 24px 24px auto; 
    padding: 12px 24px;
    display: block;
    width: fit-content;
    
}

.post > a:hover{
    background: #FE0078;
    color:white;
}

aside{
    flex-grow: 1;
    height: 1396px;
    padding: 11px;
}

input{
    color: #545454;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    width:100%;
    outline: none;
    cursor:pointer;
}

input:focus{
    border-color: #FE0078;
}

aside > input{
    height:52px;
    padding: 17px 20px 16px ;
    margin-bottom: 25px;  
}


.categorias, .publicidade{
    padding: 0 9px 16px;
}

.categorias > h3, .publicidade > h3{
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    border-left: 2px solid #FE0078;
    padding-left: 11px;
    margin-bottom: 35px;
}

.categorias > a{
    display:flex;
    justify-content: space-between;
    padding: 0 18px 16px 13px; 
    margin-top: 16px;
    border-bottom: 2px dotted #EEEEEE;
    color: #545454;
}

.categorias > a:hover{
    color: #FE0078;
    border-color: #FE0078;
}

.publicidade{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.publicidade > div{
    background: #EEEEEE;
    height: 240px;
    margin-bottom: 32px;
    color: #545454;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post, aside{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

footer{
    grid-row: 3/4;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p{
    font-size: 14px;
    color: #FFFFFF;

}


